<div class="container-fluid color-one padding-xsm">
    <img src="https://res.cloudinary.com/benie/image/upload/v1668840991/undraw_relaxing_at_home_re_mror_sfq4p2.svg" alt="" height="250">
    <h2>Let us get you settled in!</h2>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="shadow">
              <div class="card text-bg-dark">
                <button class="btn btn-light btn-outline-primary" routerLink="/book">Book Now</button>
                <div id="carouselExampleDarkA" class="carousel carousel-dark slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDarkA" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDarkA" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDarkA" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                      <img src="https://res.cloudinary.com/benie/image/upload/v1668843555/living-room-g6a3e21cdc_640_orf6jd.jpg" class="d-block w-100" alt="..." height="220">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <img src="https://res.cloudinary.com/benie/image/upload/v1668843703/bedroom-g092c835c4_640_q51xtv.jpg" class="d-block w-100" alt="..." height="220">
                    </div>
                    <div class="carousel-item">
                      <img src="https://res.cloudinary.com/benie/image/upload/v1668843815/bathroom-g0a04f9cc5_640_c6boev.jpg" class="d-block w-100" alt="..." height="220">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDarkA" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDarkA" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                  <h1 class="text-center">$500 | 50,000 Kes</h1>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false" >
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                  1 bedroom, fully furnished. 
                            </mat-panel-title>
                            <mat-panel-description>
                              For a scenic view. Read more...
                            </mat-panel-description>
                            </mat-expansion-panel-header>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, illo necessitatibus. Eligendi reiciendis, culpa quibusdam deserunt dicta impedit rem aliquam eaque harum nihil ea expedita! Quam ullam explicabo sint nisi.
                            </mat-expansion-panel>
                            </mat-accordion>
              </div>
                
            </div>
        </div>
        <div class="col-md-4">
          <div class="shadow">
            <div class="card text-bg-dark">
              <button class="btn btn-light btn-outline-primary" routerLink="/book">Book Now</button>
              <div id="carouselExampleDarkB" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDarkB" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDarkB" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDarkB" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1668843559/living-room-g54301f7d2_640_siw0de.jpg" class="d-block w-100" alt="..." height="220">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1668843705/reside-g366cfcea3_640_l7ulxp.jpg" class="d-block w-100" alt="..." height="220">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1668843817/modern-minimalist-bathroom-g55309bc18_640_xxyv0n.jpg" class="d-block w-100" alt="..." height="220">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDarkB" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDarkB" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <h1 class="text-center">$1000 | 100,000 Kes</h1>
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false" >
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                      2 bedrooms, fully furnished. 
                                </mat-panel-title>
                                <mat-panel-description>
                                  For two. Read more...
                                </mat-panel-description>
                                </mat-expansion-panel-header>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, illo necessitatibus. Eligendi reiciendis, culpa quibusdam deserunt dicta impedit rem aliquam eaque harum nihil ea expedita! Quam ullam explicabo sint nisi.
                                </mat-expansion-panel>
                                </mat-accordion>
            </div>
          </div>
            
        </div>
        <div class="col-md-4">
          <div class="shadow">
            <div class="card text-bg-dark">
              <a routerLink="/book"><button class="btn btn-light btn-outline-primary w-100">Book Now</button></a>
              <div id="carouselExampleDarkC" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDarkC" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDarkC" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDarkC" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1668843591/furniture-g2748c229d_640_yeupwh.jpg" class="d-block w-100" alt="..." height="220">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1668843707/bed-ga4a159849_640_fhyfaq.jpg" class="d-block w-100" alt="..." height="220">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1668843820/bathroom-gb5800a5ee_640_okxghl.jpg" class="d-block w-100" alt="..." height="220">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDarkC" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDarkC" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <h1 class="text-center">$1500 | 150,000 Kes</h1>
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false" >
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                      3 bedrooms, fully furnished. 
                                </mat-panel-title>
                                <mat-panel-description>
                                  For a family. Read more...
                                </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div id="des3">
                                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, illo necessitatibus. Eligendi reiciendis, culpa quibusdam deserunt dicta impedit rem aliquam eaque harum nihil ea expedita! Quam ullam explicabo sint nisi.
                                </div>
                                </mat-expansion-panel>
                                </mat-accordion>
            </div>
              
          </div>
            
        </div>
           
    </div>
    <br><br>
</div>
